<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6785d3;>
  <a class="navbar-brand" href="#"><%= image_tag 'logo.png', class: 'nav-logo' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Reservas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to 'Configurações', settings_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Criar Cod de Cadastro', new_basis_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Logoff', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>